<% provide :title, t(".title") %>
<div class="row">
  <div class="col-md-12">
    <%= form_for :session, url: login_path do |f| %>
      <h1><%=t(".h1") %></h1>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form" %>

      <span><%= t ".remmember" %></span>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
      <% end %>
      <%= f.submit t(".login_button"), class: "button" %>
    <% end %>
  </div>
</div>
