<section class="hero">
  <header>
    <div class="wrapper">
      <a><%= link_to image_tag("dh cong nghiep.jpg", class: "footer_img") %></a>
      <nav>
        <ul>
          <li><%= link_to t(".menu_home"), home_path %></li>
          <li><%= link_to t(".menu_about"), "#" %></li>
          <li><%= link_to t(".menu_login"), "#" %></li>
          <li><%= link_to t(".menu_English"), locale:"en" %></li>
          <li><%= link_to t(".menu_Vietnamese"), locale:"vi" %><li>
        </ul>
      </nav>
    </div>
  </header>  
</section>
